@import "tailwindcss";

/* Remove theme variables and dark mode media query */

body {
  background: #e0e5ec;
  color: #23272f;
  font-family: Arial, Helvetica, sans-serif;
  height: 97dvh;
  width: 95dvw;
}

/* Neumorphism utility classes */
.neumorphic {
  background: #e0e5ec;
  /* border-radius: 12px; */
  box-shadow: 8px 8px 20px #babecc, -8px -8px 20px #fff;
}

.neumorphic-input {
  background: #e0e5ec;
  /* border-radius: 12px; */
  box-shadow: inset 4px 4px 8px #babecc, inset -4px -4px 8px #fff;
  border: none;
  padding: 0.75rem 1rem;
  color: #23272f;
  font-size: 1rem;
}

.neumorphic-pressed {
  background: #e0e5ec;
  /* border-radius: 12px; */
  box-shadow: inset 4px 4px 8px #babecc, inset -4px -4px 8px #fff;
}

.st1 {
  fill :#333 ;
}
